html,
body {
  background-color: $bg-off-white;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#site-wrapper {
  min-height: 100%;
  position: relative;
}

#page-content {
  padding-bottom: 100px; /* At least: Height of the footer element */
}

.padded {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

p {
  font-size: 20px;
  line-height: 1.7;
}

// Links in general
a {
  color: $whitemarket-green;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: darken($whitemarket-green, 10%);
    text-decoration: none;
  }
}

#footer a,
#navbar a {
  color: darken(white, 5%);
  padding: 0px 15px;
  transition: all 0.2s ease;

  &:hover{
    color: white;
    text-decoration: none;
  }
}

.small-text {
  font-size: 80%;
}

@media(max-width: 767px) {
  h1 { font-size: 35px; }
}
