<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-blog_posts"><%= link_to "Blog posts", casein_blog_posts_path %></li>
<li id="tab-episodes"><%= link_to "Episodes", casein_episodes_path %></li>
