.gradient-title {
  background: -webkit-linear-gradient(left,$whitemarket-emerald,$whitemarket-green);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
