.gradient-title {
  background: -webkit-linear-gradient(left,$whitemarket-emerald,$whitemarket-green);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease;
}

a .gradient-title:hover {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}
